<mat-toolbar style="background-color: rgb(250, 186, 3); color: white;" *ngIf="shared.getUser()">
  <mat-toolbar-row>
    <img src="assets/ico_tonda.png" style="width:45px; padding-right:10px;">
    <span fxHide.xs="true" fxHide.sm="true">PRENOTAZIONI</span>
    <span class="example-spacer"></span>
    <div fxLayout="column" fxLayoutAlign="end center">
      <h6 style="line-height:18px;">{{utente.nome}}</h6>
      <h6 style="line-height:18px;">{{utente.cognome}}</h6>
    </div>

    <mat-icon *ngIf="pageService.getPage() == 'home' || pageService.getPage() == '/' " class="example-icon" (click)="GoToUserHome()">home</mat-icon>
    <mat-icon *ngIf="pageService.getPage() != 'home' && pageService.getPage() != '/' " class="example-icon" (click)="GoToHome()">dashboard</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
