.example-spacer {
    flex: 1 1 auto;
  }

.spacer {
    padding-left: 10px;
}

  .container{
    padding: 10px;
}

button {
    color: white;
}

button.mat-mini-fab {
    transition: none !important;
    box-shadow: none !important;
}