  <div fxLayout="row wrap" fxLayoutAlign="center center">

    <mat-card class="card-app" (click)="GoToNuovaPrenotazione()">
      <mat-card-header>
        <h3>NUOVA PRENOTAZIONE</h3>
      </mat-card-header>

      <mat-card-actions >
        <div style="width: 100%;" fxLayoutAlign="end">
          <mat-icon>add</mat-icon>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card-app" (click)="GoToMiePrenotazioni()">
      <mat-card-header>
        <h3>LE MIE PRENOTAZIONI</h3>
      </mat-card-header>

      <mat-card-actions>
        <div style="width: 100%;" fxLayoutAlign="end">
          <mat-icon>list</mat-icon>
        </div>
      </mat-card-actions>
    </mat-card>

  </div>
